<!--<nav class="nav nav-tabs">-->
  <!--<div class="container-fluid">-->
    <!--<ul class="nav nav-pills" id="tabs-list">-->
      <!--<li>-->
        <!--<a class="tabs-links" href="#" (click)="onSelect('images')">-->
          <!--Images-->
          <!--<button   type="button" class="close" aria-label="Close">-->
            <!--<span aria-hidden="true">&times;</span>-->
          <!--</button>-->
        <!--</a>-->
      <!--</li>-->
      <!--<li>-->
        <!--<a class="tabs-links" href="#" (click)="onSelect('videos')">-->
          <!--Videos-->
          <!--<button type="button" class="close" aria-label="Close">-->
            <!--<span aria-hidden="true">&times;</span>-->
          <!--</button>-->
        <!--</a>-->
      <!--</li>-->
      <!--<li *ngFor="let tab of dynamicTabs">-->
        <!--<a class="tabs-links" href="#">-->
          <!--{{tab.title}}-->
          <!--<button type="button" class="close" aria-label="Close">-->
            <!--<span aria-hidden="true">&times;</span>-->
          <!--</button>-->
        <!--</a>-->
      <!--</li>-->
    <!--</ul>-->
    <!--<ul class="nav nav-pills">-->
      <!--<li>-->
        <!--<a class="tabs-links" href="#" (click)="createTab()">-->
          <!--<span class="glyphicon glyphicon-plus"></span>-->
        <!--</a>-->
      <!--</li>-->
    <!--</ul>-->
  <!--</div>-->
<!--</nav>-->

